.header
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homelink
{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 48px;
    font-weight: bold;
}
.headerlink
{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 24px;
    color: black;
    
}

.buttonlink
{
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
}

.loginbutton
{
    justify-self: flex-end;
    margin-right: 10px;
    width: 178.82px;
    height: 60px;
    background: #E1D1E4;
    border-radius: 10px;
    border-color: transparent;
    font-weight: 400;
    font-size: 24px;
}

.loginbutton:hover
{
    cursor: pointer;
}

#profil
{
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 48px;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

