.register
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgba(251, 251, 251, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.title
{
    padding-top: 120px;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input{
    width: 60%;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background: #F2F2F2;
    border: 1px solid #A8A5A5;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.05));
}
.submitButton1
{
    width: 185px;
    height: 68.67px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 40px;
    padding-bottom: 80px;
    background: rgba(82, 255, 130, 1);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.25px;
    border-color: rgba(0, 0, 0, 0);
}
.submitButton1:hover
{
    cursor: pointer;
    background: #FF8BA7;
}

.chechBox
{
    width: 24px;
    height: 24px;
    left: 584px;
    top: 668px;

    background: #FFFFFF;
    opacity: 0.3;
    border: 3px solid #888888;
}
.link1
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
}

.text1
{
    margin: auto;
    font-weight: 400;
    font-size: 24px;
}

#text-link
{
    color: #FF8BA7;
}