body
{
    background: linear-gradient(90deg, rgba(130, 232, 164, 0.82) 0%, rgba(178, 188, 65, 0.676) 45%, rgba(255, 0, 138, 0.5) 100%);
}

a
{
    text-decoration: none;
}

body::-webkit-scrollbar 
{
    width: 8px;
}

body::-webkit-scrollbar-track 
{
    background: rgba(0, 0, 0, 0.0);
    border-radius: 11px;
}

body::-webkit-scrollbar-thumb 
{
    background: rgb(136, 136, 136);
    border-radius: 11px;
}

body::-webkit-scrollbar-thumb:hover 
{
    background: #FFB5CF;
    border-radius: 11px;
}