body
{
    background: linear-gradient(90deg, rgba(130, 232, 164, 0.82) 0%, rgba(178, 188, 65, 0.676) 45%, rgba(255, 0, 138, 0.5) 100%);
}

a
{
    text-decoration: none;
}

body::-webkit-scrollbar 
{
    width: 10px;
}

body::-webkit-scrollbar-track 
{
    background: #fe7fc4;
    
}

body::-webkit-scrollbar-thumb 
{
    background: #504f53;
    border-radius: 11px;
}

input[type="checkbox"]
{
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    opacity: 0.5;
    border: 3px solid #888888;
}

input[type="checkbox"]:checked
{
    background-image: url('./img/checked.svg')
}

.error
{
    color: #FF8BA7;
}