.left
{
    
    width: 50%;
    margin-left: 10px;
}

.right
{
    
    width: 60%;
    text-align: center;
    margin-right: 10px;
    
}

.title
{
    text-align: center;
}

.opinions
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.flex-game{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: auto;
   
}

.left{
    text-align: left;
    width: 40%;
    margin: 1em;
}

#description
{
    width: 100%;
    margin: auto;
    text-align: start;
    height: auto;
}

.description
{
    white-space: pre-wrap;
    word-wrap: break-word;
    height: auto;
    width: 90%;
}


.img
{
    width: 350px;
    height: 250px;
    object-fit: scale-down;
}

#opinia
{
    width: 500px;
    height: auto;
    min-height: 60px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #A7A4A4;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    padding-left: 10px;
    resize: none;
}

#ocena
{
    width: 120px;
    height: 60px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #A7A4A4;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-left: 5px;
}

#ocena::-webkit-outer-spin-button,
#ocena::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#submit_opinion
{
    background: rgba(82, 255, 130, 0.75);
    border-radius: 10px;
    width: 120px;
    height: 60px;
    font-weight: 400;
    font-size: 24px;
    border-color: transparent;
    margin-left: 5px;
}

.opin
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.opinContent
{
    font-weight: 400;
    font-size: 24px;
}

.opinRate
{
    font-weight: 400;
    font-size: 36px;
}

.owner
{
    display: flex;
    align-items: center;
}

.avatar1
{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin-right: 10px;
}
