.gif
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
}

.game
{
    width: 300px;
    height: 250px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.cover
{
    width: 300px;
    height: 250px;
    object-fit: scale-down;
}


.footer
{
    display: flex;
    margin-top: auto;
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Rubik';
    font-size: 24px;
    font-style: normal; 
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.love
{
    width: 30px;
    height: 27px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
    animation: breathing 2s ease-out infinite normal;
}

.top10
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 36px;
}

.content
{
    text-align: center;
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
}

.numbers
{
  position: absolute;
  width: 49px;
  height: 62px;
  top: 204px;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-size: 65px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.games1
{ 
  display: flex;
  text-align: center;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.cover1
{
    width: 225px;
    height: 190px;
    object-fit: scale-down;
}

.game1
{
  width: 225px;
  height: auto;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; 
}

.num
{
  width: 33%;
  color: black;
  margin-right: auto;
}

@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }