.grid
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 80vh;
}

.left
{
    min-width: 100%;
    padding-left: 10px;
}

.right
{
    min-width: 90%;
    margin-right: 10px;
    text-align: center;
}


.username
{
    font-weight: 700;
    font-size: 3em;
}

.avatar
{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin-left: 90px;
    margin-right: 10px;
}

.editProfile
{
    color: black;
    font-weight: 400;
    font-size: 24px;
    margin-left: 60px;
    margin-right: auto;
}

.description
{
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 90px;
    width: 100%;
}


.friends
{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    height: 100vh;
    width: 100%;
    margin-right: 10px;
}

#friendSearch
{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16.6667px;
    width: 80%;
    padding: 7px;
    background: rgba(255, 255, 255, 0.75);
    border: 0.833333px solid #A7A4A4;
    border-radius: 8.33333px;
}

.games
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.game
{
    width: 150px;
    height: 125px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.game:hover
{
    cursor: pointer;
}

.games::-webkit-scrollbar 
{
    width: 10px;
}

.games::-webkit-scrollbar-track 
{
    background: transparent;
    
}

.games::-webkit-scrollbar-thumb 
{
    background: rgb(70, 70, 70);
    border-radius: 11px;
}

.coverMini
{
    width: 150px;
    height: 125px;
    object-fit:scale-down;
}

.friendo
{
    display: flex;
    width: 100%;
    margin: 5px;
    gap: 10px;
    padding: 5px;
    align-content: center;
    flex-direction: row;
    text-decoration: none;
}

.avatarMini
{
    width: 64px;
    height: 64px;
    border-radius: 32px;
}