.user
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.avatar
{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin-left: 90px;
    margin-right: 10px;
}

