.regulations
{
    padding: 10px;
    padding-right: 20px;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

ul
{
    list-style: inside;
}

li 
{
    word-wrap: break-word;
    font-size: 1em;
    list-style-position: outside;

}

p
{
    font-size: 1em;
}

h1
{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

h2
{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

